In [6]:
import pandas as pd

games = pd.read_csv("data/games.csv")

games.head()

,GameId,City,StartDate,Gender,MatchType,MatchTypeNumber,NeutralVenue,Winner,Result,OutcomeMethod,...,OutcomeBowlOut,Overs,PlayerOfMatch,TeamOne,TeamTwo,TossDecision,TossWinner,UmpireOne,UmpireTwo,Venue
0,1000851,Perth,2016-11-03,male,Test,0,0,South Africa,NaN,NaN,...,NaN,0,K Rabada,Australia,NaN,bat,South Africa,Aleem Dar,NaN,Western Australia Cricket Association Ground
1,1000853,Hobart,2016-11-12,male,Test,0,0,South Africa,NaN,NaN,...,NaN,0,KJ Abbott,Australia,NaN,field,South Africa,Aleem Dar,NaN,Bellerive Oval
2,1000855,NaN,2016-11-24,male,Test,0,0,Australia,NaN,NaN,...,NaN,0,UT Khawaja,Australia,NaN,bat,South Africa,RA Kettleborough,NaN,Adelaide Oval
3,1000881,Brisbane,2016-12-15,male,Test,0,0,Australia,NaN,NaN,...,NaN,0,Asad Shafiq,Australia,NaN,bat,Australia,IJ Gould,NaN,"Brisbane Cricket Ground, Woolloongabba"
4,1000883,NaN,2016-12-26,male,Test,0,0,Australia,NaN,NaN,...,NaN,0,SPD Smith,Australia,NaN,bat,Pakistan,IJ Gould,NaN,Melbourne Cricket Ground

In [7]:
# Display information related to "games" dataframe
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5309 entries, 0 to 5308
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GameId            5309 non-null   int64
 1   City              4671 non-null   object
 2   StartDate         5309 non-null   object
 3   Gender            5309 non-null   object
 4   MatchType         5309 non-null   object
 5   MatchTypeNumber   5309 non-null   int64
 6   NeutralVenue      5309 non-null   int64
 7   Winner            5040 non-null   object
 8   Result            269 non-null    object
 9   OutcomeMethod     289 non-null    object
 10  Eliminator        34 non-null     object
 11  OutcomeByInnings  82 non-null     float64
 12  OutcomeByRuns     5309 non-null   int64
 13  OutcomeByWickets  5309 non-null   int64
 14  OutcomeBowlOut    2 non-null      object
 15  Overs             5309 non-null   int64
 16  PlayerOfMatch     4954 non-null   object
 17  TeamOne           5309 non-null   object
 18  TeamTwo           0 non-null      float64
 19  TossDecision      5309 non-null   object
 20  TossWinner        5309 non-null   object
 21  UmpireOne         5302 non-null   object
 22  UmpireTwo         0 non-null      float64
 23  Venue             5309 non-null   object
dtypes: float64(3), int64(6), object(15)
memory usage: 995.6+ KB

In [8]:
# Get a array of "venues" for which the "cities" are absent in the "games" dataframe
venues_without_city = games[games["City"].isna()][["Venue"]].Venue.unique()

# Display all values in the "venues" array
venues_without_city

array(['Adelaide Oval', 'Melbourne Cricket Ground',
       'Sydney Cricket Ground', 'Harare Sports Club',
       'Sydney Showground Stadium',
       'Rangiri Dambulla International Stadium',
       'Johor Cricket Academy Oval',
       'Dubai International Cricket Stadium', 'Sharjah Cricket Stadium',
       'Sano International Cricket Ground', 'Colombo Cricket Club Ground',
       'Galle International Stadium', 'Royal Chiangmai Golf Club',
       'Rawalpindi Cricket Stadium', 'Multan Cricket Stadium',
       'Chittagong Divisional Stadium', 'Queenstown Events Centre',
       'Sheikhupura Stadium', 'Dubai Sports City Cricket Stadium',
       'Pallekele International Cricket Stadium',
       'Mombasa Sports Club Ground', 'Arundel Castle Cricket Club Ground',
       'Sharjah Cricket Association Stadium',
       'Guanggong International Cricket Stadium', 'Louth Cricket Club',
       'Sylhet Stadium', 'Al Dhaid Cricket Village',
       'West Mersea Cricket Club', 'Uxbridge Cricket Club Ground'],
      dtype=object)

In [9]:
game_venues_with_city = games[games["City"].notna()][["City", "Venue"]]
game_venues_with_city_v = game_venues_with_city[game_venues_with_city["Venue"].isin(venues_without_city)].drop_duplicates()
venue_city_dict = dict(zip(game_venues_with_city_v["Venue"], game_venues_with_city_v["City"]))
venue_city_dict

{'Royal Chiangmai Golf Club': 'Chiang Mai',
 'Sydney Showground Stadium': 'Sydney',
 'Adelaide Oval': 'Adelaide',
 'Sydney Cricket Ground': 'Sydney',
 'Melbourne Cricket Ground': 'Melbourne',
 'Dubai International Cricket Stadium': 'Dubai',
 'Sharjah Cricket Stadium': 'Sharjah',
 'Uxbridge Cricket Club Ground': 'Uxbridge',
 'Harare Sports Club': 'Harare',
 'Galle International Stadium': 'Galle',
 'Pallekele International Cricket Stadium': 'Kandy',
 'Rawalpindi Cricket Stadium': 'Rawalpindi',
 'Multan Cricket Stadium': 'Multan'}

In [10]:
from sklearn.base import BaseEstimator, TransformerMixin

class VenueCityMapper(BaseEstimator, TransformerMixin):
    def __init__ (self, venue_city_dict):
        self._venue_city_dict = venue_city_dict
        
    def fit(self, X, y = None):
        return self
    
    def transform(self, X, y = None):
        return self

NameError: name 'BaseEstimator' is not defined